apiVersion: apps/v1
kind: Deployment
metadata:
  name: clustersubscription
  annotations:
    version: "{{TRAVIS_COMMIT}}"
    razee.io/git-repo: "{{{GIT_REMOTE}}}"
    razee.io/commit-sha: "{{TRAVIS_COMMIT}}"
  labels:
    razee/watch-resource: "lite"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: clustersubscription
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: clustersubscription
        razee/watch-resource: "lite"
      name: clustersubscription
    spec:
      serviceAccountName: razeedeploy-sa
      securityContext:
        runAsUser: {{{NODE_USER_ID}}}
        runAsGroup: {{{NODE_GROUP_ID}}}
        fsGroup: {{{NODE_GROUP_ID}}}
      containers:
        - image: "quay.io/razee/clustersubscription:{{TRAVIS_TAG}}"
          resources:
            limits:
              memory: 200Mi
              cpu: 100m
            requests:
              memory: 75Mi
              cpu: 40m
          livenessProbe:
            exec:
              command:
                - sh/liveness.sh
            initialDelaySeconds: 600
            periodSeconds: 300
            timeoutSeconds: 30
            failureThreshold: 1
            successThreshold: 1
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: RAZEE_ORG_KEY
              valueFrom:
                secretKeyRef:
                  name: razee-identity
                  key: RAZEE_ORG_KEY
            - name: RAZEE_API
              valueFrom:
                configMapKeyRef:
                  name: razee-identity
                  key: RAZEE_API
            - name: CLUSTER_ID
              valueFrom:
                configMapKeyRef:
                  name: razee-identity
                  key: CLUSTER_ID
          imagePullPolicy: Always
          name: clustersubscription
